@page "/"

<PageTitle>Samoa Pizza</PageTitle>

<h1>Samoa Pizza</h1>

<p>Fresh pizza for the Samoa community!</p>

<hr />

<h3>Pizza Menu</h3>

<table class="table">
    <thead>
        <tr>
            <th>Pizza</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Pepperoni</td>
            <td>Classic pepperoni pizza</td>
            <td>WS$25</td>
        </tr>

        <tr>
            <td>Hawaiian</td>
            <td>Ham and pineapple pizza</td>
            <td>WS$28</td>
        </tr>

        <tr>
            <td>Meat Lovers</td>
            <td>Loaded with meats</td>
            <td>WS$35</td>
        </tr>

        <tr>
            <td>Veggie</td>
            <td>Fresh vegetable toppings</td>
            <td>WS$24</td>
        </tr>
    </tbody>
</table>